header{
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 5px;
    background-color:#131722;
    font-family: 'Fjalla One', sans-serif;
     color: #fff;
    
}

header ul{
 
    position: relative;
    margin-left: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}
header ul li {
    list-style: none;
display: inline;
margin-left: 25px;

}
#logo{
    
}
header ul li a{
    display: flex;
    color: #fff;
    text-decoration: none;
   
    font-weight: 100;
    font-size: 25px;
 text-transform: uppercase;
}
.fawesome{
  background:transparent;
}







/* Style tab links */

.tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    font-family: 'Fjalla One', sans-serif;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 48px 20px;
    height: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
  
  #IBOV {background-color: red;}
  #NASDAQ {background-color: green;}
  #CRIPTO {background-color: blue;}
  #RESUMO {background-color: orange;}

  .open_header{
    display: none;
  }

  .cart-items-container{
    display: none;
  }

  @media (max-width:780px){
    .headerul{
      margin: 0 auto;
    }
  }

  @media (max-width:630px){
    .headerul{
      display:none;
      flex-wrap: wrap;
    }
    .open_header{
      display: flex;
      margin: 0 auto;
    }
    .cart-items-container{
      display: flex;
    }
    .header-px, .header-px a{
      display: flex;
      height: 30px;
      justify-content: space-between;
      padding: 5px;
      background-color:#131722;
      font-family: 'Fjalla One', sans-serif;
      color: #fff;
      list-style: none;
      color: #fff;
      text-decoration: none;
   
      font-weight: 100;
      font-size: 20px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

  }