header {
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 5px;
  background-color: #131722;
  font-family: "Bai Jamjuree", sans-serif;
  color: #fff;
}

header ul {
  position: relative;
  margin-left: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  list-style: none;
  display: inline;
  margin-left: 25px;
}

header ul li a {
  display: flex;
  color: #fff;
  text-decoration: none;
  font-weight: 100;
  font-size: 25px;
  text-transform: uppercase;
}

header ul li a:hover {
  background-color: #08090e;
  color: rgb(219, 219, 219);
  border: 1px solid rgb(134, 17, 17);
}

.tabs {
  height: 0px;
}

.tabs button {
  font-weight: 800;
}

.tabs.hide-content + * {
  display: none;
}

/* Style tab links */
.fawesome {
  background: transparent;
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  font-family: "Bai Jamjuree", sans-serif;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 48px 20px;
  height: 100%;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
}

.open_header {
  display: none;
}

.cart-items-container {
  display: none;
}

@media (max-width: 780px) {
  .headerul {
    margin: 0 auto;
  }
}
@media (max-width: 630px) {
  .headerul {
    display: none;
    flex-wrap: wrap;
  }
  #tradingview_21af6-wrapper {
    display: none;
  }
  .open_header {
    display: flex;
    margin: 0 auto;
  }
  .cart-items-container {
    display: flex;
  }
  .header-px,
  .header-px a {
    display: flex;
    height: 30px;
    justify-content: space-between;
    padding: 5px;
    background-color: #131722;
    font-family: "Bai Jamjuree", sans-serif;
    color: #fff;
    list-style: none;
    color: #fff;
    text-decoration: none;
    font-weight: 100;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }
}
.container-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1px auto;
  background-color: #fff;
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-row: auto auto;
  grid-column-gap: 1px;
  grid-row-gap: 1px;
}
.container-grid .box {
  background-color: #333;
  padding: 2px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: sans-serif;
}

.tabcontent {
  margin-bottom: 20px;
}

/* Estilos para o container do widget TradingView */
.tradingview-wrapper {
  position: relative;
  box-sizing: content-box;
  width: 100%;
  height: 450px;
  margin: 0 auto !important;
  padding: 0 !important;
  font-family: -apple-system, BlinkMacSystemFont, "Trebuchet MS", Roboto, Ubuntu, sans-serif;
}

/* Estilos para a div interna do widget TradingView */
.tradingview-inner {
  width: 100%;
  height: 100%;
  background: transparent;
  padding: 0 !important;
}

/* Estilos para o iframe do widget TradingView */
.tradingview-frame {
  width: 100%;
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
}

#tradingview_29c72-selector {
  width: 100%;
  height: 100vh;
}

.input-button {
  text-align: center;
}

#inputValor {
  height: 30px;
  color: #000;
  font-weight: 900;
  text-transform: uppercase;
  background-color: #fff;
  margin: 2px 0 2px;
}

#btnAtualizar {
  color: #000;
  padding: 4px;
  font-weight: 700;
  background-color: aliceblue;
}

#btnAtualizar:hover {
  color: #c41818;
  padding: 4px;
  background-color: aqua;
}

@media screen and (max-width: 700px) {
  .container-grid {
    margin: 2px auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-grid .box {
    background-color: #333;
    padding: 5px;
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-family: sans-serif;
  }
}
/*# sourceMappingURL=style.css.map */